/*Cuerpo de la página*/
html { height: 100%;}
body { height: 100%; }

#container{
    height: 100%;
    max-width: 800px;
    margin: 0 auto;

}

//Contenedor
#contenedor{
    width: 100%;
}
/*Capas*/
//Cabecera
#cabecera{
    width: 100%;
    height: 64px;    
    margin:  0 auto;
}

#logougr{
    display:inline;
    margin:  0 auto;
}

#logo{
    display: inline;
    margin:  0 auto;
}

#titulo{
    display: inline;
}

#contacto{
    display: inline;
    margin:  0 auto;
    float: right;
}

#ayuda{
    display: inline;
    margin:  0 auto;
    float: right;
}

//Errores
#errores{    

}

//Menu
#menu{display: block;
      width: 100%;
}

//Contenido
#contenido{
    height: 100%;
}

#mapa{
    height: 100%;
}

//Corte
.corte {
    clear: both;
    padding-top: 4em;
}

//Pie
#pie{
    position: fixed;
    width: 100%;
    bottom: 0 !important;
}
#contacto{
    position: relative;
}

object{
    height: 400px;
    width: 600px;
}

/*Decoración*/
.tabla{
    padding: 25px;
}
.tabla td, .tabla th{
    padding-left: 0px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
}

/*Foro*/
.nuevomensajeforo img{
    //float: left;
}
.nuevomensajeforo{
    text-align: right;
    margin: 15px;
}
.tablaforo{
    width: 100%;
    color: black;
    margin-bottom: 15px;
}
.tablaforo a{
    text-decoration: none;
    color:black;
}
.tablaforo a:link{
    text-decoration: none;
    color:black;
}
.tituloforo{
    padding: 5px;
    width: 75%;
    font-weight: bold;
    background-color: #d5e5ee;
    text-transform: uppercase;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.autorforo{
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    width: 25%;
    font-style: italic;
    background-color: #5590CC;
    text-transform: capitalize;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.mensajeforo{
    padding: 10px;
    vertical-align: middle;
    width: 75%;
    font-weight: bold;
    background-color: beige;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.fechaforo{
    width: 100%;
    text-align: right;
}

/*Enviar emails*/
#enviarEmail,#formcontacto{
    width: 100%;
}
#enviarEmail input,#formcontacto input{
    width: 100%;
    margin-bottom: 15px;

}
#enviarEmail textarea, #formcontacto textarea{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

/*Crear icono*/
.crearalerta{
    width: 100%;
}

.crearalerta>select, .crearalerta textarea{
    width: 100%;

}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    background: #efefef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #efefef,#d5e5ee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #efefef,#d5e5ee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #efefef,#d5e5ee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#efefef,#d5e5ee); /* Standard syntax */
    background-attachment: fixed;
    //background: #efefef /*url('personalizacion/fondo.png')*/;
    //background: linear-gradient(to bottom right,#ffffff,#efefef);

    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
ul{
    list-style: none;
    display: block;
    float: left;
    width: 100%;
}
li{
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}
h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#563D64;}
small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
.clearfix:after,
form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.container { 
    margin-top: 35px ;
    margin-bottom: 5px;
    padding-left: 25px; 
    padding-top: 25px; 
    position: relative; 
    width: 100%; }
#content {
    float:center;
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 150px auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
}
#content h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
#content h1:before,
#content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}
#content h1:after {
    background: rgb(126,126,126);
    background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content h1:before {
    background: rgb(126,126,126);
    background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content:after,
#content:before {
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
#content:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}
#content:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}
#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="email"],
#content form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px #ed1c24 inset;
    -moz-box-shadow: 0 0 2px #ed1c24 inset;
    -ms-box-shadow: 0 0 2px #ed1c24 inset;
    -o-box-shadow: 0 0 2px #ed1c24 inset;
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content form input[type="submit"] {
    background: rgb(254,231,154);
    background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    width: 120px;
}
#content form input[type="submit"]:hover {
    background: rgb(254,193,81);
    background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
    float: left;
    background: rgb(247,249,250);
    background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
    min-width: 120px;
}
a{
    padding: 15px 0;
}
.button a {    
    background: url("personalizacion/menu.png") 0 -112px no-repeat;
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button a:hover{
    background-position: 0 -135px;
    color: #00aeef;
}








/*Mapas*/
#map_canvas, .map_canvas, map_canvas { width: 100%; height: 500px; z-index: 0;}

#controls {
    position: absolute;
    bottom: 1em;
    left: 100px;
    width: 400px;
    z-index: 20000;
    padding: 0 0.5em 0.5em 0.5em;
}

.controls {
    margin-top: 0px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#infoZona{
    width: 100%;
    overflow: hidden;
}
#formcalle{
    width: 100%;
    height: 1900px;
    overflow: hidden;
}

.inforuta caption{
    font-weight: bold;
    font-size:20px;
    margin-top: 30px;
    padding: 10px;
}
.inforuta tfoot{
    font-weight: bold;
    font-size:16px;
    margin: 30px;
    padding: 30px;
}

.inforuta table{
    border-collapse: separate;
    width: 100%;
    border-spacing: 10px;
}
.inforuta td{
    min-width: 280px;
}
#inforuta>tbody>tr:last-child {
    font-weight: bold;
}

#inforuta>tbody>tr:first-child{
    font-weight: bold;
}

//Ventana emergente
.center{
    position:absolute;
    width:700px;
    height:600px;
    top:50%;
    left:50%;
    margin-left:-350px;
    margin-top:-250px;	

}
.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;

}
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5); 
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;

}
.modalmask:target .movedown{		
    margin:10% auto;
}
.modalmask:target .rotate{		
    transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}
.modalmask:target .resize{
    width:400px;
    height:200px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
    font-size:16px;
}

.close:hover { 
    background: #FAAC58; 
    color:#222;
}

/*Slider*/

#bajomenu{overflow: hidden;
          width: 100%;
          max-width:100%; margin:auto; position:relative; line-height:0em; padding:0em;display: block;
}
#bannertiempo{
    /*position:relative;
    left: 138px;
    margin-left: 7px;
    margin-top: 4px;
    width: 138px;*/
    max-width:40em; margin:auto; position:relative; line-height:1.75em; padding:1.25em; float: left;

}
#titulonoticias{max-width:40em; margin:auto; position:relative; line-height:1.75em; padding:1.25em; float: left;}
#slider-outer { max-width:40em; margin:auto; position:relative; line-height:1.75em; padding:1.25em } /* change padding to move arrows */
#slider { display:block; overflow:hidden; border:1px inset #5590CC; background-color: #d5e5ee; }
#slider-outer .slide-check { position:absolute; left:-9999px }

#slider .slides { width:500% } /* #### (slides x 100) #### */
#slider .slides > div { width:20%; /* #### (100 / slides) #### */
                        float:left; overflow:hidden; position:relative; 
                        -webkit-transform:translate3d(0,0,0); /* http://davidwalsh.name/translate3d */
                        -webkit-transition:-webkit-transform .5s ease-in-out; transition:transform .5s ease-in-out
}

#slider-outer .arrows { font:1em/2em Arial; text-indent:0.1875em; text-align:center; position:absolute; display:none; z-index:9999; 
                        bottom:1px; color:#fff; background:#222; width:2em; border-radius:2em; border:3px solid #fff; cursor:pointer; box-shadow:0 0 0 1px rgb(153,153,153)
}
#slider-outer .arrows:hover { background:#666; color:#222 }

/* #### - define ids of checked buttons/arrows here - #### */
#btn-goto-first:checked ~ #arrow-1, 
#btn-1:checked ~ #arrow-2, 
#btn-2:checked ~ #arrow-3,
#btn-3:checked ~ #arrow-4, 
#btn-4:checked ~ #arrow-5, 
#btn-5:checked ~ #arrow-1 { /* last button always goes to #arrow-1 */
    right:1px; display:block
}

/* #### - define ids of checked buttons/arrows here - reposition/rotate '>' arrows to fake '<' arrows - #### */
#btn-2:checked ~ #arrow-1, 
#btn-3:checked ~ #arrow-2,
#btn-4:checked ~ #arrow-3, 
#btn-5:checked ~ #arrow-4, 
#btn-1:checked ~ #arrow-5 { /* #btn-1 always goes to last arrow */
    left:1px; display:block; -webkit-transform:scale(-1,1); -ms-transform:scale(-1,1); transform:scale(-1,1)
}

/* #### - define ids of checked buttons/arrows here - (% increment per slide) - move slides when checked - #### */
#slider-outer #btn-1:checked ~ #slider .slides > div, #slider #btn-goto-first:checked ~ #slider .slides > div { -webkit-transform:translate(0,0); -ms-transform:translate(0,0); transform:translate(0,0) }
#slider-outer #btn-2:checked ~ #slider .slides > div { -webkit-transform:translate(-100%,0); -ms-transform:translate(-100%,0); transform:translate(-100%,0) }
#slider-outer #btn-3:checked ~ #slider .slides > div { -webkit-transform:translate(-200%,0); -ms-transform:translate(-200%,0); transform:translate(-200%,0) }
#slider-outer #btn-4:checked ~ #slider .slides > div { -webkit-transform:translate(-300%,0); -ms-transform:translate(-300%,0); transform:translate(-300%,0) }
#slider-outer #btn-5:checked ~ #slider .slides > div, #slider #btn-goto-last:checked ~ #slider .slides > div { -webkit-transform:translate(-400%,0); -ms-transform:translate(-400%,0); transform:translate(-400%,0) }


/* - #### custom styles for slide content - #### */
#slider .slides > div > div { font-size:0.875em; padding:1.25em 2em }
#slider .slides img { float:left; margin-top:0.25em; margin-right:1em }
#slider .slides .title { display:inline-block; margin-bottom:0.75em }
#slider .slides .num { float:right; font-size:0.625em; color:#999 }
#slider .slides .more { text-align:right; font-size:0.875em }


@media ( max-width:30em ) { /* #### - make better use of space at 480px (480/16=30 - 16px being default browser font-size) - #### */
    #slider-outer { font-size:0.9375em; line-height:1.5em; padding:0 0 1.125em 0 }
    #slider .slides > div > div { padding:1em 0.75em 1.25em }
    #slider .slides .more { text-align:center }
}

/*Configuración de la ruta*/
#configuracionruta{
    max-width:100%; margin:auto; position:relative; line-height:0em; padding:0em;display: block;
     
}
.confruta-boton{
    margin-right: 5px;
}

.register-switch {
    float: left;
    width: 200px;
  height: 32px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
  background: #5590CC;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #5590CC, #d5e5ee);
  background-image: -moz-linear-gradient(top, #5590CC, #d5e5ee);
  background-image: -o-linear-gradient(top, #5590CC, #d5e5ee);
  background-image: linear-gradient(to bottom, #5590CC, #d5e5ee);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  
  border-radius: 2px;
 
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

:-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  color: #aaa;
  font-weight: 300;
}

.register-button {
  //display: block;
  float: left;
  width: 200px;
  height: 40px;
  //margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}
.register-button:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
  background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.register-button:focus {
  outline: 0;
}
.confruta-rango{
    margin-left: 5px;
    margin-right: 5px;
}

.slider {
  //width: 100%;
  //margin: 50% auto;
}

input[type="range"] {
  -webkit-appearance: none !important;  
  height: 15px;
  background-color: #5590CC;
  border: 1px solid #efefef;
  border-radius: 10px;
  transition: all 0.3s ease;
}
input[type="range"]:hover {
  background-color: #efefef;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: beige;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #3c6d59;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #5590CC;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #3c6d59;
}


.confruta-texto{
    //margin: 10px;
    //width: 100px;
}

object{
    background: transparent; 
}
.gm-style-iw div { 
 overflow:hidden !important; 
}